@media screen and (min-width: 320px) and (max-width: 566px) {
  body {
    max-width: 566px;
    min-width: 320px;
  }
  .hide-in-mobail {
    display: none;
  }
  .div-icon-1-mobail {
  }
  .mobail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f2f6;
    border-radius: 15px;
  }
  .hero-section-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: min-content;
    height: max-content;
  }
  .div-hero-section-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .logo-mobail {
    background-color: #063154;
    border-radius: 10px;
    padding: 5px;
  }
  .hero-section-2 {
    width: 100%;
  }
  .icon-mobail {
    background-color: #063154;
    border-radius: 10px;
    padding: 5px;
  }
  .hamberger-meno-buttom {
    padding: 7px;
    border-radius: 10px;
  }
  .vitrin-div {
    display: flex;
    flex-direction: column;
  }
  .vitrin-face {
    display: flex;
    flex-direction: column;
  }
  .mobail {
    margin-bottom: 10px;
    width: 100%;
  }
  .baner {
    width: 100%;
  }
  .div-hamberger-meno {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    background-color: blueviolet;
    width: 150px;
    margin-right: -100%;
  }
  .ham-meno-a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ad-vitrin {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .h-vitrin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .a-vitrin {
    margin: 0px;
  }
  .baner-ad {
    display: none;
  }
  .ex-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .h1-vitrin {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h3-vitrin {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-mask-group {
    display: none;
  }
  .img {
    display: none;
  }
  .paper {
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  .paper-capter {
    align-items: center;
    justify-content: center;
  }
}
